<div class="content__description">
    <h2 class="description__subtitle">Los mejores destinos</h2>
    <p class="description__text">
        Explora los mejores destinos del mundo, desde las playas paradisíacas de Maldivas hasta las montañas majestuosas
        de los Alpes. Cada lugar ofrece una experiencia única.
    </p>
</div>
<div class="content__destinations-images">
    <div class="image-container1">
        <img
            class="destinations-images__01"
            src="./assets/beach/img-destino-01.jpg"
            alt="imagen de atardecer en una playa paradisíaca"
        />
    </div>
    <div class="image-container2">
        <img
            class="destinations-images__02"
            src="./assets/beach/img-destino-02.jpg"
            alt="imagen de playa paradisíaca vista desde una escalera de madera"
        />
        <img
            class="destinations-images__03"
            src="./assets/beach/img-destino-03.jpg"
            alt="imagen dentro del mar con agua cristalina con una estrella de mar en el fondo"
        />
    </div>
    <div class="image-container3">
        <img
            class="destinations-images__04"
            src="./assets/beach/img-destino-04.jpg"
            alt="imagen de una playa con acantilado"
        />
        <img
            class="destinations-images__05"
            src="./assets/beach/img-destino-05.jpg"
            alt="imagen panoramica desde arriba con vista a una playa con un barco entre medio de la arena y el mar"
        />
        <img
            class="destinations-images__06"
            src="./assets/beach/img-destino-06.jpg"
            alt="imagen de una piña sobre la arena, en la orilla de un mar cristalino"
        />
    </div>
</div>
