<div class="footer__container">
    <div class="footer__description">
        <img src="./assets/logo/manifestLogoFooter.svg" alt="Logo Manifest" />
        <p>
            Cursus pretium a vel neque gravida eros mauris aliquam senectus. Cum volutpat arcu fames maecenas tortor ac.
            Suspendisse quis in duis curabitur sit sed porttitor a. Nec aliquet enim at enim tincidunt eget sed gravida.
            Egestas fermentum urna sed etiam aliquam.
        </p>
    </div>
    <div class="footer__links">
        <ul class="footer__links--list">
            <li class="list__item">
                <a class="" href="/">
                    <span><img src="./assets/icons/arrow-right.svg" alt="Flecha hacia la derecha" /></span> Lorem ipsum
                    dolor
                </a>
            </li>
            <li class="list__item">
                <a class="" href="/">
                    <span><img src="./assets/icons/arrow-right.svg" alt="Flecha hacia la derecha" /></span> Lorem ipsum
                    dolor
                </a>
            </li>
            <li class="list__item">
                <a class="" href="/">
                    <span><img src="./assets/icons/arrow-right.svg" alt="Flecha hacia la derecha" /></span> Lorem ipsum
                    dolor
                </a>
            </li>
            <li class="list__item">
                <a class="" href="/">
                    <span><img src="./assets/icons/arrow-right.svg" alt="Flecha hacia la derecha" /></span> Lorem ipsum
                    dolor
                </a>
            </li>
            <li class="list__item">
                <a class="" href="/">
                    <span><img src="./assets/icons/arrow-right.svg" alt="Flecha hacia la derecha" /></span> Lorem ipsum
                    dolor
                </a>
            </li>
            <li class="list__item">
                <a class="" href="/">
                    <span><img src="./assets/icons/arrow-right.svg" alt="Flecha hacia la derecha" /></span> Lorem ipsum
                    dolor
                </a>
            </li>
            <li class="list__item">
                <a class="" href="/">
                    <span><img src="./assets/icons/arrow-right.svg" alt="Flecha hacia la derecha" /></span> Lorem ipsum
                    dolor
                </a>
            </li>
            <li class="list__item">
                <a class="" href="/">
                    <span><img src="./assets/icons/arrow-right.svg" alt="Flecha hacia la derecha" /></span> Lorem ipsum
                    dolor
                </a>
            </li>
            <li class="list__item">
                <a class="" href="/">
                    <span><img src="./assets/icons/arrow-right.svg" alt="Flecha hacia la derecha" /></span> Lorem ipsum
                    dolor
                </a>
            </li>
            <li class="list__item">
                <a class="" href="/">
                    <span><img src="./assets/icons/arrow-right.svg" alt="Flecha hacia la derecha" /></span> Lorem ipsum
                    dolor
                </a>
            </li>
            <li class="list__item">
                <a class="" href="/">
                    <span><img src="./assets/icons/arrow-right.svg" alt="Flecha hacia la derecha" /></span> Lorem ipsum
                    dolor
                </a>
            </li>
        </ul>
    </div>

    <div class="divider">
        <div class="divider__left"></div>
        <span class="divider__icon"><img src="./assets/icons/user.svg" alt="Flecha hacia la derecha" /></span>
        <div class="divider__right"></div>
    </div>

    <div class="footer__socialmedia">
        <p>© 2024 Manifest</p>
        <div class="socialmedia__links">
            <a class="" href="/">
                <span><img src="./assets/icons/tree.svg" alt="Flecha hacia la derecha" /></span>
            </a>
            <a class="" href="/">
                <span><img src="./assets/icons/mancha.svg" alt="Flecha hacia la derecha" /></span>
            </a>
            <a class="" href="/">
                <span><img src="./assets/icons/seven.svg" alt="Flecha hacia la derecha" /></span>
            </a>
        </div>
    </div>
</div>
