<div class="hero__content">
    <h1 class="hero__title">Explora el mundo: Tu guía de viajes perfecta</h1>
    <div class="hero__divider">
        <div class="hero__divider-left"></div>
        <span class="hero__divider-icon"><img src="./assets/icons/user.svg" alt="Flecha hacia la derecha" /></span>
        <div class="hero__divider-right"></div>
    </div>
    <h2 class="hero__subtitle">Explora destinos increíbles y vive aventuras inolvidables.</h2>
    <p class="hero__description">
        Ofrecemos una amplia gama de destinos, desde playas paradisíacas hasta montañas majestuosas, para que encuentres
        el lugar perfecto para tu próxima escapada.
    </p>
    <a class="hero__button primary-button" aria-label="Descubre destinos destacados"
        >Descubre <span><img src="./assets/icons/arrow-right.svg" alt="Flecha hacia la derecha" /></span
    ></a>
</div>
