<div class="content">
    <!-- SECTIONS -->
    <section class="content__destinations">
        <app-destinations></app-destinations>
    </section>

    <section class="content__places">
        <app-places></app-places>
    </section>
    <section class="content__offers">
        <app-offers></app-offers>
    </section>
    <section class="content__prices">
        <app-prices></app-prices>
    </section>
    <section class="content__contact">
        <app-contact></app-contact>
    </section>
</div>
