<div class="content__description">
    <h2 class="description__subtitle">Lorem ipsum dolor sit</h2>
    <p class="description__text">
        Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet
        odio mattis.
    </p>
</div>

<div class="content__cards">
    <div class="group1">
        <app-card
            image="assets/beach/img-cards/card-01.jpg"
            altText="Vista de una piscina infinita rodeada de tumbonas de madera y vegetación tropical bajo la sombra de los árboles"
        ></app-card>
        <app-card
            image="assets/beach/img-cards/card-02.jpg"
            altText="Exterior de un lujoso bungalow con techos de paja junto a una piscina iluminada al atardecer"
        ></app-card>
        <app-card
            image="assets/beach/img-cards/card-03.jpg"
            altText="Piscina infinita con sombrillas de playa y tumbonas de madera al borde de un paisaje tropical"
        ></app-card>
        <app-card
            image="assets/beach/img-cards/card-04.jpg"
            altText="Complejo de cabañas tropicales rodeadas de palmeras y piscinas en un entorno natural"
        ></app-card>
    </div>

    <div class="group2">
        <app-card
            image="assets/beach/img-cards/card-05.jpg"
            altText="Puesta de sol sobre una playa rocosa con un cielo lleno de tonos morados y anaranjados"
        ></app-card>
        <app-card
            image="assets/beach/img-cards/card-06.jpg"
            altText="Pareja sentada sobre la arena blanca en una playa tropical frente a un mar cristalino bajo un cielo despejado"
        ></app-card>
        <app-card
            image="assets/beach/img-cards/card-07.jpg"
            altText="Gafas de sol colocadas sobre una pila de libros junto a una mesa de playa con sombrillas de paja de fondo"
        ></app-card>
        <app-card
            image="assets/beach/img-cards/card-08.jpg"
            altText="Torre de salvavidas en una playa solitaria bajo un cielo despejado y vista al horizonte del océano"
        ></app-card>
    </div>
</div>
