<div class="place__container place__01">
    <div class="place__container-info">
        <h2 class="description__subtitle">Cancun</h2>
        <p class="description__text">
            Cancún es una ciudad vibrante famosa por sus playas y vida nocturna. Con aguas cristalinas y arenas blancas,
            es un paraíso para los amantes del sol.
        </p>
        <a class="primary-button">
            <span><img src="assets/icons/fly.svg" alt="Icono de avión despegando" /></span> Viajar
            <span><img src="assets/icons/arrow-right.svg" alt="Icono de flecha hacia la derecha" /></span>
        </a>
    </div>
    <img
        class="place__img"
        src="assets/beach/img-cancun.png"
        alt="Imagen panorámica de playa paradisíaca en Cancún vista desde arriva, con sombrillas, tumbonas, vegetación y aguas cristalinas"
    />
</div>
<div class="place__container place__02">
    <div class="place__container-info">
        <h2 class="description__subtitle">La romana</h2>
        <p class="description__text">
            Imagina un impresionante destino de playa donde las arenas doradas se encuentran con aguas cristalinas. Las
            suaves olas te invitan a relajarte bajo el cálido sol, mientras las palmeras se mecen con la suave brisa.
        </p>
        <a class="primary-button">
            <span><img src="assets/icons/beach.svg" alt="Icono de sombrilla en una playa" /></span> Ver más
            <span><img src="assets/icons/arrow-right.svg" alt="Icono de flecha hacia la derecha" /></span>
        </a>
    </div>
    <img
        class="place__img"
        src="assets/beach/img-laromana.png"
        alt="Imagen panorámica de playa paradisíaca en la Romana, con vegetación y aguas cristalinas"
    />
</div>
