<div class="place__container place__01">
    <div class="place__container-info">
        <h2 class="content__subtitle">Cancun</h2>
        <p class="content__description">
            Cancún es una ciudad vibrante famosa por sus playas y vida nocturna. Con aguas cristalinas y arenas blancas,
            es un paraíso para los amantes del sol.
        </p>
        <a class="primary-button">
            <span><img src="assets/icons/fly.svg" alt="" /></span> Viajar
            <span><img src="assets/icons/arrow-right.svg" alt="" /></span>
        </a>
    </div>
    <img class="place__img" src="assets/beach/img-cancun.png" alt="" />
</div>
<div class="place__container place__02">
    <div class="place__container-info">
        <h2 class="content__subtitle">La romana</h2>
        <p class="content__description">
            Imagina un impresionante destino de playa donde las arenas doradas se encuentran con aguas cristalinas. Las
            suaves olas te invitan a relajarte bajo el cálido sol, mientras las palmeras se mecen con la suave brisa.
        </p>
        <a class="primary-button">
            <span><img src="assets/icons/beach.svg" alt="" /></span> Ver más
            <span><img src="assets/icons/arrow-right.svg" alt="" /></span>
        </a>
    </div>
    <img class="place__img" src="assets/beach/img-laromana.png" alt="" />
</div>
