main.main {

    section {
        padding: 24px;
    }

    section.hero {
        background-image:   linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                            url("/assets/beach/img-header.png");
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;



    }

}



