/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #8A42FB;
    --primary-text-color: #343434;
    --secondary-text-color: #FFFFFF;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
        
    a.primary-button, button.primary-button {
        color: var(--secondary-text-color);
        background: var(--primary-color);
        border-radius: 8px;
        padding: 16px;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        border: none;
        cursor: pointer;
        outline: none;
        transition: background 0.1s linear;


        &:hover {
            background:#6a2fc7;
            transition: background 0.1s linear;
        }
    }

    h2.content__subtitle{
        margin: 0;
        color: var(--primary-color);
    }
    
    p.content__description {
        color: var(--primary-text-color);
        font-size: 1em;
        font-weight: 100;
        margin: 10px 0 20px;
    }
    
}

